<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,504},{122,100}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{122,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{174,96}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{172,96}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{172,96}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w12.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,102},{166,96}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{166,96}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{162,98}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{162,98}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w14.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{158,98}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{158,98}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{152,100}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{152,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,300},{144,100}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{144,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{136,100}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{136,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w18.gif</key>
            <dict>
                <key>frame</key>
                <string>{{126,504},{122,100}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{122,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,404},{122,100}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{122,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{122,100}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{122,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,402},{126,100}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{126,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{134,100}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{134,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,200},{144,100}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{144,100}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,200},{156,98}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{156,98}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,100},{166,98}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{166,98}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>w9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{172,96}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wajueji.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:706dbf7c61c424bd91f6b9ab923cc95c$</string>
            <key>textureFileName</key>
            <string>wajueji.png</string>
        </dict>
    </dict>
</plist>
